.text--center {
  text-align: center;
}

.margin--bottom {
  margin-bottom: 12px;
}

header {
  font-size: 16px;
}

main nav {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body, html {
  height: 95vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #7ACE7E;
  color: white;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  width: 90%;
}
.grid__cell {
  padding: 12px;
  margin: 11px;
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
}
.grid__cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}
.grid__cell--30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify--content--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  padding: 5px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header a:first-child {
  width: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  background-color: white;
  color: black;
  border-radius: 6px;
  text-decoration: none;
}
header a:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
}
header a:last-child:visited {
  color: white;
}
header a:last-child img {
  color: white;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-left: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid white;
}

.edit--pencil {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: -110px;
  top: 185px;
  cursor: pointer;
}
.edit--pencil img {
  width: 60%;
  height: 60%;
  color: black;
}

nav {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 500px) {
  nav {
    width: 430px;
  }
}
ul {
  padding: 0;
}
ul li {
  background-color: #659C5C;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 12px;
  -webkit-box-shadow: 2px 2px #659C5C;
          box-shadow: 2px 2px #659C5C;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}
ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul li a:visited {
  color: white;
}
ul li a img {
  width: 30px;
  height: 30px;
}
ul li a p {
  margin: 0;
  padding: 6px;
}