//-----> $SITE

* {
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

body, html {
    height: 95vh;
}

body {
    font-family:'Roboto';
    background-color: $green;
    color: $white;
}