header {
    padding: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;

    & a {
        align-items: center;
    }

    & a:first-child {
        width: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: $padding;
        background-color: $white;
        color: $black;
        border-radius: $unit;
        text-decoration: none;
        transition: transform .5s ease-in-out;

        &:hover {
            transform: translateX(-10px);
        }
    }


    & a:last-child {
        justify-content: flex-end;
        text-decoration: none;
        transition: transform .5s ease-in-out;

        &:visited {
            color: $white;
        }

        &:hover {
            transform: translateX(10px);
        }

        & img {
                color: $white;
                width: 30px;
                height: 30px;
                padding: $padding;
                margin-left: 10px;
        }
    }
}
