.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid $white;
}

.edit--pencil {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;

    position: relative;
    left: -110px;
    top: 185px;

    cursor: pointer;

    & img {
        width: 10px;
        height: 10px;
        color: $black;
    }
}
